@model List<Kund>

<h1>Kundregister</h1>

<p>
    <a asp-action="Create">Lägg till kund</a>
</p>
<form id="search-form" class="form-inline">
    <div class="input-group">
        <input type="text" id="query" class="form-control custom-search-input" placeholder="Sök efter kund...">
        <div class="input-group-append">
            <button id="search-button" class="btn btn-primary" type="button">Sök</button>
        </div>
    </div>
</form>


<table class="table">
    <thead>
    <tr>
        <th>Namn</th>
        <th>Adress</th>
        <th>Telefonnummer</th>
        <th>Email</th>
        <th>Bilmodell</th>
        <th>Årsmodell</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var address in Model)
    {
        <tr>
            <td>@address.Namn</td>
            <td>@address.Adress</td>
            <td>@address.Telefonnummer</td>
            <td>@address.Email</td>
            <td>@address.Bilmodell</td>
            <td>@address.Årsmodell</td>
            <td>
                <a asp-action="Edit" asp-route-id="@address.Id">Ändra</a> |
                <a asp-action="Delete" asp-route-id="@address.Id">Ta bort</a>
            </td>
        </tr>
    }
    </tbody>
</table>

<div id="search-results"></div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(function() {
        $('#search-button').click(function() {
            var query = $('#query').val();
            window.location.href = '/Kund/Search?query=' + query;
        });
    });
</script>
