@model RegCheckApiResponse

<h2>Bildata: </h2>

<div>
    <strong>Märke och modell:</strong> @Model.CarMake.CurrentTextValue @Model.CarModel.CurrentTextValue<br />
    <strong>Årsmodell:</strong> @Model.RegistrationYear<br />
    <strong>Motorstorlek:</strong> @Model.EngineSize.CurrentTextValue<br />
    <strong>Bränsle:</strong> @Model.FuelType.CurrentTextValue<br />
    <strong>Kaross:</strong> @Model.BodyStyle.CurrentTextValue<br />
    <strong>Färg:</strong> @Model.Colour<br />
    <strong>I bruk:</strong> @Model.RegistrationDate<br />
    <strong>Märke:</strong> @Model.MakeDescription.CurrentTextValue<br />
    <strong>Modell Description:</strong> @Model.ModelDescription.CurrentTextValue<br />
    <strong>Antal säten:</strong> @Model.NumberOfSeats.CurrentTextValue<br />
    <strong>VIN:</strong> @Model.VechileIdentificationNumber<br />
    <img src="@Model.ImageUrl" alt="Vehicle Image" />
</div>


